#setting-error-tgmpa { display: block; }

.meridian-recipes-admin-repeatable-sort {
	position: absolute;
	right: 50px;
	top: 10px;
}

	.meridian-recipes-admin-repeatable-sort span {
		display: inline-block;
		font-size: 12px;
		line-height: 1;
		font-weight: bold;
		margin-left: 20px;
		cursor: pointer;
		border-bottom: 1px dotted rgba( 0, 0, 0, 0.2 );
	}

.button.cmb-shift-rows.move-up,
.button.cmb-shift-rows.move-down {
	display: none;
}